<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vinyanalista.simulador.gui.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/cpu_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="user" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileChooserActivity" />
        <activity android:name=".RecentFilesActivity" />
        <activity android:name=".ExamplesActivity" />
        <activity android:name=".simulador.MemoryActivity" />
        <activity android:name=".editor.ProgramEditorActivity" />
        <activity
            android:name=".simulador.SimulationActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>